* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.user-input {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
  width: 80rem;
  height: 15rem;
  border: 2px solid red;
}

.score-board {
  display: flex;
}

.score-board__item {
  margin: auto;
  font-size: 3rem;
}
