@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(169, 153, 133);
  color: rgb(37, 35, 35);
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cormorant Upright", serif;
}

.game__header-h1 {
  font-size: 5rem;
}

.game__header-h2 {
  font-size: 4rem;
}

.game__header-h3 {
  font-size: 2rem;
}

.user-input {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem auto;
  width: 80rem;
  height: 15rem;
}

.score-board {
  display: flex;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
}

.score-board__item-player,
.score-board__item-computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
}

.player-selection,
.computer-selection {
  display: flex;
  justify-content: center;
}

.computer-selection__img,
.player-selection__img {
  width: 10rem;
  height: auto;
}

.score-board__message {
  font-size: 2.5rem;
  font-family: "Cormorant Upright", serif;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid red;
}

.modal {
  max-width: 40rem;
  height: 20rem;
  margin: auto;
  background-color: aliceblue;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.close-modal-btn {
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 10rem;
  padding: 2rem;
  margin: 5rem auto;
  font-size: 1rem;
}

.game-result-text {
  text-align: center;
  background: none;
  font-size: 2rem;
  margin: 2rem auto;
}
